{% extends 'admin/base.html.twig' %}

{% block title %}New Drugs{% endblock %}

{% block body %}
    <h1>Create new Drugs</h1>

    {{ include('admin/drugs/_form.html.twig') }}

    <a href="{{ path('drugs_show', {id:patient.id}) }}">back to list</a>
{% endblock %}
