{% extends 'admin/base.html.twig' %}

{% block title %}New Drugs{% endblock %}

{% block body %}
<div class="main">
    <div class="container-fluid">
        <div class="container">
            <h1>Create new Drugs</h1>

            {{ include('admin/drugs/_form.html.twig') }}

            <a href="{{ path('drugs_show', {id:patient.id}) }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
