{% extends 'admin/base.html.twig' %}

{% block title %}Doclib - Doctor workspace{% endblock %}

{% block body %}

    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <!-- RECENT USER SUBMISSION -->
                        <div class="panel">
                            <div class="panel-heading">
                                    <h3 class="panel-title">Echanges avec les patients</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body no-padding">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nom du patient</th>
                                        <th>Maladie</th>
                                        <th>Messages</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        {% if patients is empty %}
                                            <tr> Absence de patients</tr>
                                        {% endif %}
                                        {% for patient in patients %}
                                            <td>{{ patient.name }}</td>
                                            <td>Maladie</td>
                                            <td><a href="{{ path('admin_messages', { 'id' : patient.id }) }}"><span class="label label-success">Voir les messages</span></a></td>
                                        {% endfor %}

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
                                    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">
                                            Revenir à l'accueil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT USER'S SUBMISSIONS -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->

{% endblock %}