<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="{{ path('admin_home') }}" class="active"><i class="lnr lnr-home"></i>
                        <span>Dashboard</span></a>
                </li>
                <li><a href="#" class=""><i class="lnr lnr-code"></i> <span>My Patients</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i>
                        <span>Settings</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="#" class="">Profile</a></li>
                            <li><a href="#" class="">Messaging</a></li>
                            <li><a href="#" class="">Global reports</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->