{% extends 'frontend/base.html.twig' %}

{% block title %}Complete Your Account{% endblock %}

{% block body %}
    {{ include('frontend/_formReport.html.twig', {'button_label': 'Add'}) }}
    {% for messages in messagings %}
        <p>{{ messages.content }}</p>
    {% endfor %}
{% endblock %}
