<!--================Footer Area =================-->
<footer class="nine_footer">
    <div class="nine_copyright">
        <div class="container">
            <div class="pull-left">
                <p class="copyright">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
            <div class="pull-right">
                <h5>Your Company - Unsubcribe</h5>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->