<!--================ Banner Area =================-->
<section class="banner_nine_area">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="b_nine_text">
                    <h3>Finally an app which<br /> takes care of <span>YOU</span> </h3>
                    <h5>Developped by Doctolib</h5>
                    <a class="border_btn" href="#"><i class="icofont icofont-download-alt"></i> Get This Apps</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="b_nine_image">
                    <img src="{{ asset('assets/img/_custom/top_banner.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->