{% extends 'base.html.twig' %}

{% block title %}Complete Your Account{% endblock %}

{% block body %}
<a href="{{ path('complete_form', {'id': app.user.id}) }}"><button>Complete your informations</button></a>
{% endblock %}
