{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

{% for p in pro %}
{{ dump(p) }}
    {% if  p.image_url is defined%}
    <img src="{{ p.image_url}}" alt="">
        {% if p.generic_name is defined %}
        <p>{{ p.generic_name}}</p>
            {% endif %}
    {% endif %}
{% else %} <p>Il n'y a pas de tel produit </p>
    {% endfor %}

</div>
{% endblock %}
